* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    animation: slideAnimation 12s infinite; /* Automatisch doorschuiven */
}

.slide {
    min-width: 100%;
    height: auto;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}